certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
greenlet==3.1.1
idna==3.10
inflect==7.5.0
more-itertools==10.5.0
msal==1.31.1
pycparser==2.22
PyJWT==2.10.1
pyodbc==5.2.0
python-dotenv==1.0.1
requests==2.32.3
setuptools==75.8.0
sqlacodegen==2.3.0.post1
SQLAlchemy==1.4.54
typeguard==4.4.1
typing_extensions==4.12.2
urllib3==2.3.0
